apify_client==1.6.4
beautifulsoup4==4.12.3
Flask==2.3.2
Flask_Cors==4.0.0
huggingface_hub==0.20.3
llama_index==0.10.32
nltk==3.8.1
protobuf==5.26.1
Requests==2.31.0
selenium==4.20.0
torch==2.2.0
transformers==4.37.2
